# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build artifacts
.next
out

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Local development files
*.log
.DS_Store
*.swp
*.swo

# Git files
.git
.gitignore

# IDE files
.vscode
.idea
*.sublime-workspace
*.sublime-project
